@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml")
}
@model TeacherDetailsViewModel
    @{
    Layout = "_Layout";
    List<LessonDTO> lessons = Model.lessons;
}



<link href="~/css/TeacherDetailsPageDesign.css" rel="stylesheet"/>
<form asp-controller="Admin" asp-action="TeacherDetails" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="student-registration-div mb-5">
            <img class="me-4" src="~/images/_SIS.png" width=100px; />
            <h1><b>
                TEACHER DETAILS
            </b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="hidden" asp-for="@Model.teacher.TeacherID" />
            <div class="form-group p-2">
                <label for="Name">Name</label> 
                <input asp-for="@Model.teacher.Name" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label for="Surname">Surname</label>
                <input asp-for="@Model.teacher.Surname" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label for="Mail">Mail</label>
                <input asp-for="@Model.teacher.Mail" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label for="Phone">Phone</label>
                <input asp-for="@Model.teacher.Phone" class="form-control" />
            </div>
            <div class="input-group p-2 mt-4">

                <select disabled class="form-select me-3" asp-for="@Model.teacher.Gender"
                id="GenderSelection">
                    <option selected disabled> Gender </option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
                <select class="form-select" asp-for="@Model.teacher.EducationLevel" 
                id="EducationLevel">
                    <option selected disabled> Education Level </option>
                    <option value="Undergraduate Student">Undergraduate Tutor</option>
                    <option value="B.Sc">B.Sc Tutor</option>
                    <option value="M.Sc">M.Sc Tutor</option>
                    <option value="PhD">PhD Tutor</option>
                </select>

            </div>
            <div class="form-group p-2 form-floating pt-4">
              <textarea class="form-control"  
              id="TeacherExplanation" asp-for="@Model.teacher.Details"
              placeholder="Leave a comment here"></textarea>
              <label class="p-3 pt-4" for="TeacherExplanation">
                  Details
              </label>
            </div>

           <div class="form-group p-2">
    <label>Teaching Areas</label>
    <div class="div-teaching-subjects">
        <div class="m-2 t-subject-div">
            @for (int i = 0; i < Model.teacher.TeacherLessons.Count(); i++)
            {
                <input type="hidden" 
                asp-for="@Model.teacher.TeacherLessons[i].LessonID">
                <input type="hidden" 
                asp-for="@Model.teacher.TeacherLessons[i].TeacherID">
                int lesson_id = Model.teacher.TeacherLessons[i].LessonID;

                <div class="form-check form-switch me-4">
                    <input class="form-check-input me-2" type="checkbox"
                    id="TeacherLessons_@lesson_id" 
                    asp-for="@Model.teacher.TeacherLessons[i].IsChecked">
                    <label class="form-check-label" for="TeacherLessons_@lesson_id">
                        @lessons[lesson_id-1].Name</label>
                </div>
                List<TeacherLesson> tll = Model.teacher.TeacherLessons;
            }
        </div>
    </div>
</div>
           
        <div class="form-group p-2" >
            <div class="form-check">
                <input class="form-check-input me-2" type="checkbox" value="" 
                id="dismissed"/>
                <label class="form-check-label me-5" for="dismissed">
                    Dismissed
                </label>
              @* <input type="datetime-local" id="unemploymentDate" 
                asp-for="@Model.teacher.UnenrollmentDate" />*@ 
            </div>
            
        </div>
        <div class="form-group p-2">
            <div class="form-check">
                <input class="form-check-input me-2" type="checkbox" value="" 
                id="isApproved"
                asp-for="@Model.teacher.IsApproved" />
                <label class="form-check-label" for="isApproved">
                    Confirm the Teacher
                </label>
            </div>
        </div>
    </div>
        <div class="col-6">
            <div class="form-group p-2">
                <label for="IBAN">IBAN</label>
                <input asp-for="@Model.teacher.IBAN" class="form-control" />
            </div>
            
           @await Component.InvokeAsync("ReferenceDetails", 
           new {referenceModel = @Model.teacher.References, 
               referenceUploadFile = @Model.ReferenceLetterFile})
           
           <div class="input-group p-2 div-cv">
               <label class="form-control" for="TeacherCV">
                   CV
               </label>
               <input type="file" class="form-control" id="TeacherCV" 
               asp-for="@Model.teacher.CVFilePath"/>
           </div>
            <div class="form-group p-2 mt-5 d-grid">
                <button type="submit" class="btn btn-primary btn-features" 
                onclick="assignUnenrollmentDate()">
                Edit </button>
            </div>
            
                
        </div>
    </div>
</form>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var dismissedCheckbox = document.getElementById("unemploymentDate");
    var datetime = new Date();
    var appropriateDateTime = datetime.getFullYear() + "-" +
        String(datetime.getMonth() + 1).padStart(2, "0") + "-" +
        String(datetime.getDate()).padStart(2, "0") + "T" +
        String(datetime.getHours()).padStart(2, "0") + ":" +
        String(datetime.getMinutes()).padStart(2, "0") + ":" +
        String(datetime.getSeconds()).padStart(2, "0");
    dismissedCheckbox.value = appropriateDateTime;
});

function assignUnenrollmentDate() {
    var checkbox = document.getElementById("dismissed");
    var input = document.getElementById("unemploymentDate");
    if (!checkbox.checked) {
        input.value = null;
    }
}

</script>


