
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml")
}
@model TeacherDetailsViewModel
@{
    Layout = "_Layout";
    List<LessonDTO> lessons = Model.lessons;
}



<link href="~/css/TeacherDetailsPageDesign.css" rel="stylesheet"/>
@*show teacher details and update if required. To get IFormFile from the form, add enctype*@
<form asp-controller="Teacher" asp-action="Index" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="student-registration-div mb-4">
            <img class="me-4" src="~/images/_SIS.png" width=60px; />
            <h1><b>
                Your Profile
            </b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6"> @*add teacher id as a hidden layer for model binding operation*@
            <input type="hidden" asp-for="@Model.teacher.TeacherID" />
            <div class="form-group p-2">
                <label for="Name">Name</label> 
                @*show teacher name (using model binding with asp-for)*@
                <input disabled asp-for="@Model.teacher.Name" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label for="Surname">Surname</label> 
                @*show teacher surname (using model binding with asp-for)*@
                <input disabled asp-for="@Model.teacher.Surname" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label for="Mail">Mail</label>
                @*show teacher mail (using model binding with asp-for)*@
                <input disabled asp-for="@Model.teacher.Mail" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label for="Phone">Phone</label>
                @*show teacher phone - updatable (using model binding with asp-for)*@
                <input asp-for="@Model.teacher.Phone" class="form-control" />
            </div>
            <div class="input-group p-2 mt-4">
                @*show teacher gender (using model binding with asp-for)*@
                <select disabled class="form-select me-3" asp-for="@Model.teacher.Gender"
                id="GenderSelection">
                    <option selected disabled> Gender </option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
                @*show teacher education level - updatable (using model binding with asp-for)*@
                <select class="form-select" asp-for="@Model.teacher.EducationLevel" 
                id="EducationLevel">
                    <option selected disabled> Education Level </option>
                    <option value="Undergraduate Student">Undergraduate Tutor</option>
                    <option value="B.Sc">B.Sc Tutor</option>
                    <option value="M.Sc">M.Sc Tutor</option>
                    <option value="PhD">PhD Tutor</option>
                </select>

            </div>
            <div class="form-group p-2 form-floating pt-4">
                @*show teacher details - updatable (using model binding with asp-for)*@
              <textarea class="form-control"  
              id="TeacherExplanation" asp-for="@Model.teacher.Details"
              placeholder="Leave a comment here"></textarea>
              <label class="p-3 pt-4" for="TeacherExplanation">
                  Details
              </label>
            </div>

           <div class="form-group p-2">
                <label>Teaching Areas</label>
                @*show teacher teaching areas - updatable (using model binding with asp-for)*@
                <div class="div-teaching-subjects">
                    <div class="m-2 t-subject-div">
                        @for (int i = 0; i < Model.teacher.TeacherLessons.Count(); i++)
                        {
                            <input type="hidden" 
                            asp-for="@Model.teacher.TeacherLessons[i].LessonID">
                            <input type="hidden" 
                            asp-for="@Model.teacher.TeacherLessons[i].TeacherID">
                            int lesson_id = Model.teacher.TeacherLessons[i].LessonID;

                            <div class="form-check form-switch me-4">
                                <input class="form-check-input me-2" type="checkbox"
                                id="TeacherLessons_@lesson_id" 
                                asp-for="@Model.teacher.TeacherLessons[i].IsChecked">
                                <label class="form-check-label" for="TeacherLessons_@lesson_id">
                                    @lessons[lesson_id-1].Name</label>
                            </div>
                            List<TeacherLesson> tll = Model.teacher.TeacherLessons;
                        }
                    </div>
                </div>
            </div>
           
            @*add teacher dismissed input for model binding*@
            <input class="form-check-input me-2" type="hidden"
            id="dismissed"
            asp-for="@Model.teacher.UnenrollmentState"/>

            @*add teacher approvement input for model binding*@
            <input class="form-check-input me-2" type="hidden" 
            id="isApproved"
            asp-for="@Model.teacher.IsApproved" value="@Model.teacher.IsApproved.ToString().ToLower()"/>

    </div>
        <div class="col-6">
            <div class="form-group p-2">
                @*add teacher IBAN for student payments for private lessons.*@
                <label for="IBAN">IBAN</label>
                <input asp-for="@Model.teacher.IBAN" class="form-control" />
            </div>
            
           <div class="form-group p-2">
                <label>Reference</label>
                @*add teacher Reference*@
                <div class="card-div">
                    <input type="hidden" asp-for="@Model.teacher.References[0].ReferencesID"/>
                    <div class="form-group p-2 pt-3">
                        <label for="ReferenceName">
                            Name 
                        </label>
                        <input asp-for="@Model.teacher.References[0].Name" class="form-control" id="referenceName"/>
                    </div>
                    
                    <div class="form-group p-2">
                        <label for="ReferenceCompany">
                            Reference Company 
                        </label>
                        <input asp-for="@Model.teacher.References[0].CompanyName" class="form-control" id="referenceCompany" />
                    </div>
                    <div class="form-group p-2">
                        <label for="ReferenceJobTitle">
                            Job Title 
                        </label>
                        <input asp-for="@Model.teacher.References[0].CurrentPosition" class="form-control" id="referenceJobTitle"/>
                    </div>
                    <div class="form-group p-2">
                        <label for="ReferenceMail" >
                            Mail
                        </label>
                        <input asp-for="@Model.teacher.References[0].Mail" class="form-control" id="referenceMail"/>
                    </div>
                    <div class="form-group p-2">
                        <label for="ReferencePhone" >
                            Phone
                        </label>
                        <input asp-for="@Model.teacher.References[0].Phone" class="form-control" id="referencePhone"/>
                    </div>
                    <div class="input-group p-2 pt-4 pb-3" id="ReferenceLetterDiv">
                        <label class="form-control" for="ReferenceLetter">
                            Letter of Recommendation
                        </label>
                        <input type="hidden" value="@Model.teacher.References[0].ReferenceLetterFilePath" 
                        id="SendToScriptReferenceLetterFilePath"/>
                        <input type="file" class="form-control" 
                        id="ReferenceLetter" asp-for="@Model.ReferenceLetterFile"/>
                        
                    </div>
                    @*teacher can open reference letter file*@
                    <div class="form-group p-2 pt-0" id="ReferenceFileExists" 
                    style="margin-bottom: 5px; justify-content:center; align-items:center;">
                        <a class="btn btn-primary me-3" style="border-radius:5px; 
                border-color:darkslategray !important; color:darkslategray; background-color:white !important;"
                        id="ReferenceFileOpenTag"
                        target="_blank"> Open Reference Letter </a>
                    <label>@((Model.teacher.References[0].ReferenceLetterFilePath != null && 
                        Model.teacher.References[0].ReferenceLetterFilePath != "")  ? 
                        Model.teacher.References[0].ReferenceLetterFilePath.Substring(9):"")</label>
                    </div>
                </div>

            </div>
           
           <div class="input-group p-2 div-cv" id="CVDiv">
               <label class="form-control" for="TeacherCV">
                   CV
               </label>
               @* teacher can upload cv file*@
               <input type="hidden" value="@Model.teacher.CVFilePath" id="SendToScriptCVFilePath"/>
               <input type="file" class="form-control" id="TeacherCV"
               asp-for="@Model.CVFile"/>
               
           </div>
           <div class="form-group p-2" id="CVFileExists">
               <a class="btn btn-primary me-3" style="border-radius:5px; 
                border-color:darkslategray !important; color:darkslategray; background-color:white !important;" 
               target="_blank"  id="CVFileOpenTag"> Open CV </a>
               <label>@((Model.teacher.CVFilePath != null && Model.teacher.CVFilePath != "") 
                   ? Model.teacher.CVFilePath.Substring(9):"")</label>
           </div>
            <div class="form-group p-2 mt-5 d-grid">
                <button type="submit" class="btn btn-primary btn-features">
                Update </button>
            </div>
            
                
        </div>
    </div>
</form>


<script>
document.addEventListener("DOMContentLoaded", function() {
    
    var ReferenceLetterFilePath = document.getElementById("SendToScriptReferenceLetterFilePath").value;
    var CVFilePath = document.getElementById("SendToScriptCVFilePath").value;

    var TeacherApprovement = document.getElementById("isApproved");

    var RLInput = document.getElementById("ReferenceLetter");
    var CVInput = document.getElementById("TeacherCV");

    var CVhrefATag = document.getElementById("CVFileOpenTag");
    var RLhrefATag = document.getElementById("ReferenceFileOpenTag");

    var CVFileExists = document.getElementById("CVFileExists");
    var ReferenceFileExists = document.getElementById("ReferenceFileExists");
  
    if (TeacherApprovement.value == "true") {
        var referenceName = document.getElementById("referenceName");
        var referenceCompany = document.getElementById("referenceCompany");
        var referenceJobTitle = document.getElementById("referenceJobTitle");
        var referencePhone = document.getElementById("referencePhone");
        var referenceMail = document.getElementById("referenceMail");
        var referenceLetterDiv = document.getElementById("ReferenceLetterDiv");
        var CVDiv = document.getElementById("CVDiv");
    
        referenceName.disabled = true;
        referenceCompany.disabled = true;
        referenceJobTitle.disabled = true;
        referencePhone.disabled = true;
        referenceMail.disabled = true;
        referenceLetterDiv.style.display = "none";
        CVDiv.style.display = "none";
    }
    if (!ReferenceLetterFilePath) {
        
        RLInput.disabled = false;
        ReferenceFileExists.style.display = "none";
    }
    else {
     
        RLhrefATag.href = ReferenceLetterFilePath;
        ReferenceFileExists.style.display = "inline-flex";
        
    }
    if (!CVFilePath) {
        
        CVInput.disabled = false;
        CVFileExists.style.display = "none";
    }
    else{
        
        CVhrefATag.href = CVFilePath;
        CVFileExists.style.display = "inline";
    }
});

</script>






