@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml");
}

@model LessonDetailsViewModel

<form method="post" asp-controller="Teacher" asp-action="LessonDetails">
    <div class="row">
        <div class="student-registration-div mb-5">
            <img class="me-4" src="~/images/_SIS.png" width=100px/>
            <h1>
                <b>LESSON DETAILS</b>
            </h1>
        </div>
        
    </div>
    <div class="row">
        <div class="col-6">@*add Private Lesson ID, Student ID and Teacher ID for model binding*@
            <input type="hidden" asp-for="@Model.privateLessonDetails.PrivateLessonID" />
            <input type="hidden" asp-for="@Model.privateLessonDetails.StudentID" />
            <input type="hidden" asp-for="@Model.privateLessonDetails.TeacherID" />
            <div class="form-group p-2">
   
                <select class="form-select mt-4" asp-for="@Model.privateLessonDetails.LessonName">
                <option disabled selected>Lesson Name</option>
                @foreach (TeacherLesson _lesson in Model.teacher.TeacherLessons)
                {
                    LessonDTO? getLessonName = Model.allLessons
                    .FirstOrDefault(i => i.LessonID == _lesson.LessonID);
                    if(getLessonName != null && _lesson.IsChecked)
                    {
                        <option value="@getLessonName.Name">@getLessonName.Name</option>
                    }
                }
                </select>
            </div>
            
            @*get lesson mode and education level using model binding*@
            <div class="input-group p-2 mt-4">
                <select class="form-select me-3" asp-for="@Model.privateLessonDetails.ELClassification">
                <option disabled selected>Education Level</option>
                <option value="Elementary School">Elementary School</option>
                <option value="Middle School">Middle School</option>
                <option value="High School">High School</option>
                </select>

                <select class="form-select" asp-for="@Model.privateLessonDetails.LessonMode">
                <option disabled selected>Lesson Mode</option>
                <option value="on-site">On-Site</option>
                <option value="online">Online</option>
                </select>
            </div>
            <div class="form-group p-2">
                <label for="LessonDate"> @*get lesson day(s) using model binding*@
                    Lesson Day(s)
                </label>
                <input type="text" id="LessonDate"  class="form-control" asp-for="@Model.privateLessonDetails.LessonDate"/>
                
            </div>
            <div class="form-group p-2">
                <label for="LessonTime"> @*get lesson start time using model binding*@
                    Lesson Start Time
                </label>
                <input id="LessonTime" type="time"  class="form-control" asp-for="@Model.privateLessonDetails.LessonStartTime"/> 
            </div>
            <div class="form-group p-2">
                <label for="LessonEndTime" > @*get lesson end time using model binding*@
                    Lesson End Time
                </label>
                <input type="time" id="LessonEndTime" 
                 class="form-control" asp-for="@Model.privateLessonDetails.LessonEndTime"> 
            </div>
            <div class="form-check p-2">
                
                <input type="checkbox" id="RemoveLesson" class="form-check me-3" 
                            asp-for="@Model.privateLessonDetails.RemoveLesson"/>
                <label for="RemoveLesson">
                    Delete Lesson
                </label>
            </div>
            

        </div>
        <div class="col-6">
            <div class="form-group p-2">
                <label for="LessonStartDate">
                    Lesson Start Date
                </label> @*get lesson start date using model binding*@
                <input type="date" id="LessonStartDate"  class="form-control" asp-for="@Model.privateLessonDetails.LessonStartDate"/>
            </div>
            <div class="form-group p-2">
                <label for="LessonEndDate">
                    Lesson End Date
                </label> @*get lesson end date using model binding*@
                <input type="date" id="LessonEndDate"  class="form-control" asp-for="@Model.privateLessonDetails.LessonEndDate"/>
            </div>
            <div class="form-group p-2">
                <label for="LessonPrice">
                    Lesson Price
                </label> @*get lesson price using model binding*@
                <input type="number" id="LessonPrice" asp-for="@Model.privateLessonDetails.LessonPrice" class="form-control">
            </div>
            <div class="form-group p-2 mt-4">
                @*get lesson details using model binding*@
                <textarea id="LessonDetails" asp-for="@Model.privateLessonDetails.LessonDetails" 
                placeholder="Lesson Details" class="form-control" style="height:120px">

                </textarea>
            </div>
            <div class="form-group p-2 mt-4 d-grid">
                <button class="btn btn-primary btn-features"  type="submit" 
                style="display:block; width:auto">
            Update Lesson</button>
            </div>
            
        </div>
        
    </div>
</form>
