@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml");
}

@model TeacherAssignmentViewModel

<form method="POST" asp-controller="Teacher" asp-action="NewAssignment" enctype="multipart/form-data">
    <div class="row">
        <div class="student-registration-div mb-4">
            <img class="me-4" src="~/images/_SIS.png" width=60px; />
            <h1><b>
                New Assignment
            </b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="hidden" asp-for="@Model.assignment.AssignmentID" />
            <input type="hidden" asp-for="@Model.assignment.TeacherID" value="@Model.teacher.TeacherID"/>
            
            <div class="input-group p-2 mt-4">
                
                <select class="form-select me-3" id="AssignmentType" 
                asp-for="@Model.assignment.Type">
                    <option selected disabled> Assignment Type </option>
                    <option value="Homework">Homework</option>
                    <option value="Project">Project</option>
                    <option value="Quiz">Quiz</option>
                    <option value="Exam">Exam</option>
                </select>
             
                
                <select class="form-select" asp-for="@Model.assignment.StudentID">
                    <option selected disabled> Student </option>
                   @{
                        List<Student> TeacherStudents = new List<Student>();
                    }
                    @foreach (StudentTeacher privateLesson in Model.teacher.StudentTeachers)
                    {
                        int? studentID = privateLesson.StudentID;
                        if(studentID != null)
                        {
                            Student student = Model.students.FirstOrDefault(i=>i.StudentID == studentID)!;
                            Student? result = TeacherStudents.FirstOrDefault(i => i.StudentID == student.StudentID);
                            if(result == null)
                            {
                                TeacherStudents.Add(student);
                            }

                            
                        }

                    }
                    @foreach(Student st in TeacherStudents)
                    {
                        <option value="@st.StudentID">
                                @(st.Name + " " + st.Surname)

                        </option>
                    }
                </select>
               
                
                
            </div>
            <div class="form-group p-2">
                    <label for="LessonID">
                        Lesson ID
                    </label>
                    <input type="number" min="1"
                        id="LessonID" class="form-control" 
                    asp-for="@Model.assignment.privateLessonID" />
                </div>
            <div class="form-group p-2">
                <label for="AssignmentSubject">
                    Assignment Subject
                </label>
                <input type="text" id="AssignmentSubject" class="form-control" 
                asp-for="@Model.assignment.Subject" />
            </div>
            <div class="form-group p-2">
                <label for="AssignmentDetails">
                    Assignment Details
                </label>
                <textarea style="height:100px;" id="AssignmentDetails" class="form-control" 
                asp-for="@Model.assignment.Explanation"></textarea>
            </div>
            
            
        </div>
        
        <div class="col-6" style="margin-left:auto;">
            <div class="form-group p-2">
                <label for="AssignmentDueDate">
                    Due Date
                </label>
                <input type="date" id="AssignmentDueDate" class="form-control" 
                    asp-for="@Model.assignment.DueDate" />
            </div>
            <div class="form-group p-2">
                <label for="AssignmentDueTime">
                    Due Time
                </label>
                <input type="time" id="AssignmentDueTime" class="form-control"
                asp-for="@Model.assignment.DueTime" />
            </div>
            <div class="form-group p-2">
                <label for="TeacherAssignmentDocument">
                   Assignment (Document)
                </label>
                <input type="file" itemid="TeacherAssignmentDocument" class="form-control" 
                asp-for="@Model.TeacherAssignmentFile" />
            </div>
            <div class="form-group p-2 d-grid mt-4">
                <button type="submit" class="btn btn-primary btn-features" 
                style="display:block; width:auto;">
                    Add Assignment 
                </button> 
            </div>
        </div>
    </div>
</form>
