
@*include .css files*@
<link href="@Url.Content("~/css/navbarHomeSheet.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/navbarTSA.css")" rel="stylesheet" />
@*create navbar for student/admin/teacher webpages*@
<nav class="navbar fixed-top"> 
  <div class="container-fluid bg-navbar-container">
            @*show users' full names*@
            <a class="navbar-brand gap navbar-text-color" href="#">

            @if (ViewBag.UserType == "admin")
            {
                <span style="margin-left: 20px;">ADMIN</span>
            }
            @if (ViewBag.UserType == "teacher")
            {
                <span style="margin-left: 20px;">PERSONNEL</span>
            }
            @if (ViewBag.UserType == "student")
            {
                <span style="margin-left: 20px;">STUDENT</span>
            }


            </a>
            @*create offcanvas toggle button*@
            <button class="navbar-toggler gap
            navbar-text-color me-4" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-text-color"></span>
            </button>
            @*create offcanvas*@
        <div class=" offcanvas
bg-navbar-container  offcanvas-end" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header navbar-text-color">
               <img class="image-specifications" src="~/images/_SISpphoto.png" />
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">

                </button>
            </div>
            <div class="offcanvas-body navbar-text-color">
               
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 navbar-text-color">
                    @*assign related links to the offcanvas for each user type*@
                    @if (ViewBag.UserType == "teacher")
                    {
                        
                        <li class="nav-item">
                            <hr>
                        <a class="nav-link" href="@Url.Action("Index", "Teacher")">
                            Your Profile
                        </a>
                        <hr>
                        
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListStudents","Teacher")">
                                Student Assessment
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("StudentAssessments","Teacher")">
                                List Students
                            </a>
                            <hr>
                        </li>
                    }
                    @if (ViewBag.UserType == "admin")
                    {
                         <li class="nav-item">
                             <hr>
                            <a class="nav-link" href="@Url.Action("Index", "Admin")">
                              
                                    Your Profile
                               
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            
                            <a class="nav-link" href="@Url.Action("NewTeacher", "Admin")">
                             
                                    Add New Teacher
                               
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("NewStudent", "Admin")">
                             
                                    Add New Student
                             
                                
                            </a>
                            <hr>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListStudents","Admin")">
                                    List Students
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListTeachers","Admin")">
                                List Teachers
                            </a>
                            <hr>
                        </li>
                    }
                    @if(ViewBag.UserType == "student")
                    {
                        <li class="nav-item">
                            <hr>
                            <a class="nav-link" href="@Url.Action("Index","Student")">
                                Your Profile
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <hr>
                            <a class="nav-link" href="@Url.Action("MyAssessments","Student")">
                                Your Assessments
                            </a>
                            <hr>
                        </li> 
                        <li class="nav-item">
                            <hr>
                            <a class="nav-link" href="@Url.Action("MyLessons","Student")">
                                Your Lessons
                            </a>
                            <hr>
                        </li> 
                        <li class="nav-item">
                            <hr>
                            <a class="nav-link" href="@Url.Action("ListTeachers","Student")">
                                List All Teachers
                            </a>
                            <hr>
                        </li> 
                    }
                </ul> 

            </div>
        </div>
   </div>
</nav>


