
@*include .css files*@
<link href="@Url.Content("~/css/navbarHomeSheet.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/navbarTSA.css")" rel="stylesheet" />
@*create navbar for student/admin/teacher webpages*@
<nav class="navbar fixed-top"> 
  <div class="container-fluid bg-navbar-container">
            @*show users' full names*@
            <a class="navbar-brand gap navbar-text-color" href="#">

            @if (ViewBag.UserType == "admin")
            {
                <span style="margin-left: 20px;">ADMIN PANEL</span>
            }
            @if (ViewBag.UserType == "teacher")
            {
                <span style="margin-left: 20px;">@ViewBag.UserFullName</span>
            }
            @if (ViewBag.UserType == "student")
            {
                <span style="margin-left: 20px;">@ViewBag.UserFullName</span>
            }


            </a>
            @*create offcanvas toggle button*@
            <button class="navbar-toggler gap
            navbar-text-color me-4 blockAccess" type="button" id="offcanvasNavbarToggleButton" 
            
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-text-color"></span>
            </button>
            @*create offcanvas*@
        <div class=" offcanvas
bg-navbar-container  offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            
        aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header navbar-text-color">
               <img class="image-specifications" src="~/images/_SISpphoto.png" />
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">

                </button>
            </div>
            <div class="offcanvas-body navbar-text-color">
               
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 navbar-text-color">
                    @*assign related links to the offcanvas for each user type*@
                    @if (ViewBag.UserType == "teacher")
                    {
                        <li class="nav-item">
                            <hr>
                                <a class="nav-link" href="@Url.Action("GettingStarted", "Teacher")">
                                    Getting Started
                                </a>
                            <hr>
                        
                        </li>
                        <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("Index", "Teacher")">
                                    My Profile
                                </a>
                                <hr>

                            </li>
                        @if (ViewBag.UserApproved)
                        {
                            

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("CreateLesson","Teacher")">
                                    New Private Lesson
                                </a>
                                <hr>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("LessonList","Teacher")">
                                    List My Private Lessons
                                </a>
                                <hr>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("PrivateLessonStudentList","Teacher")">
                                    Private Lesson - Student List
                                </a>
                                <hr>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("NewAssignment","Teacher")">
                                    New Assignment
                                </a>
                                <hr>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AssignmentList","Teacher")">
                                    List Assignments
                                </a>
                                <hr>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SignOutSystem","Teacher")">
                                Sign Out
                            </a>
                            <hr>
                        </li>
                    }
                    @if (ViewBag.UserType == "admin")
                    {
                         <li class="nav-item">
                             <hr>
                            <a class="nav-link" href="@Url.Action("Index", "Admin")">
                              
                                    Getting Started
                               
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            
                            <a class="nav-link" href="@Url.Action("NewTeacher", "Admin")">
                             
                                    Add New Teacher
                               
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("NewStudent", "Admin")">
                             
                                    Add New Student
                             
                                
                            </a>
                            <hr>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListStudents","Admin")">
                                    List Students
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListTeachers","Admin")">
                                List Teachers
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SignOutSystem","Admin")">
                                Sign Out
                            </a>
                            <hr>
                        </li>
                    }
                    @if(ViewBag.UserType == "student")
                    {
                        <li class="nav-item">
                            <hr>
                            <a class="nav-link" href="@Url.Action("GettingStarted","Student")">
                                Getting Started
                            </a>
                            <hr>
                        </li>
                        <li class="nav-item">
                           
                            <a class="nav-link" href="@Url.Action("Index","Student")">
                                My Profile
                            </a>
                            <hr>
                        </li>
                        if(ViewBag.BlockAccess == "0")
                        {
                            <li class="nav-item">
                           
                            <a class="nav-link" href="@Url.Action("MyAssignmentList","Student")">
                                My Assignments
                            </a>
                            <hr>
                        </li> 
                        <li class="nav-item">
                          
                            <a class="nav-link" href="@Url.Action("MyLessons","Student")">
                                My Lessons
                            </a>
                            <hr>
                        </li> 
                        <li class="nav-item">
                           
                            <a class="nav-link" href="@Url.Action("ListLessons","Student")">
                                List of Private Lessons
                            </a>
                            <hr>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SignOutSystem","Student")">
                                Sign Out
                            </a>
                            <hr>
                        </li>
                        }
                        
                    }
                </ul> 

            </div>
        </div>
   </div>
</nav>


